/* базовые стили для приложения */
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
/* стили для заголовка приложения (если используется) */
.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}
.App-logo {
  height: 40px;
  pointer-events: none;
}
.App-link {
  color: #61dafb;
  text-decoration: none;
}
.App-link:hover {
  text-decoration: underline;
}
.technology-list {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.technology-list h1 {
  margin: 0 0 20px 0;
  color: #333;
}
.technology-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.technology-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color 0.2s;
}
.technology-list .completed {
  background-color: #e8f5e9;
  border-left: 4px solid #4caf50;
}
.technology-list .in-progress {
  background-color: #fff3e0;
  border-left: 4px solid #ff9900;
}
.technology-list .not-started {
  background-color: #ffd0d0;
  border-left: 4px solid #ff0000;
}
.technology-list li:hover {
  opacity: 0.8;
}
.technology-list span {
  flex: 1;
  color: #333;
}

.technology-list .technology-card {
  transition: background-color 0.5s ease, border-left 0.5s ease;
}

/* progress */
.progress {
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
}

.progress-info {
  color: #282c34;
}

/* Стиль фона полоски прогресса */
.progress-bar__completed {
  width: 100%;
  height: 30px;
  background: white;
}

.progress-bar__completed::-webkit-progress-bar {
  background-color: #bebebe;
  border-radius: 10px;
}

.progress-bar__completed::-webkit-progress-value {
  border-radius: 6px;
  overflow: hidden;
  background: #e34c26;
}

button {
  background-color: white;
}

.FilterChange {
  display: flex;
  justify-content: space-between;
}
